
.centrum-column {
  flex-direction: column;
  font-size: 1rem;
  margin: 0;
  display: flex; 
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
  font-size: 2rem;
}

.timer {
  display: flex;
  margin: 1.5rem;
  font-size: 2rem;

}

.item{
  margin-right: 2rem;
}
