.centrum-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}
.textareas-and-button{
    display: flex;
    justify-content: space-between;
}
.textarea-task{
    background-color: red;
}
.textarea-time{
    background-color: orange;
}
.button-submit{
    background-color: green;
}